@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.center, .choose, .places, .gallery, .travel-logs, .header {
  max-width: 1440px;
  margin: 0 auto;
}

.contact-button button {
  font-family: "Lato";
  font-size: 20.9px;
  color: #232323;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.2;
  padding: 8px 35px;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.header {
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/background/Scribble Lightest.png") no-repeat bottom -382px left, url(../img/background/Scribble\ Dark.png) no-repeat bottom -100px right, #e9e7e7;
  display: flex;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 25px;
}
.header__text-box {
  max-width: 445px;
  margin: 120px 0 25px 25px;
}
.header__nav-link {
  max-width: 460px;
  width: 100%;
}
.header__nav-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-link li a {
  font-family: "Lato";
  font-size: 20.9px;
  color: #515155;
  font-weight: 300;
  letter-spacing: -0.025em;
  line-height: 1.2;
}
.header__container {
  max-width: 1200px;
  margin: auto auto;
  width: 100%;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__image-box {
  margin: 120px 25px 25px 25px;
}
.header__image-box img {
  right: 0;
  max-width: 662px;
  max-height: 419px;
  width: 100%;
}
.header__title {
  font-family: "Cardo";
  font-size: 80px;
  color: #232323;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-top: 20px;
}
.header__text {
  font-family: "Lato";
  font-size: 16.7px;
  color: #232323;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 20px;
}
.header__button {
  margin-top: 30px;
}
.header__button button {
  padding: 10px 45px;
  background-color: #232323;
  font-family: "Lato";
  font-size: 20.9px;
  color: #e9e7e7;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.2;
  border-radius: 5px;
}

.travel-logs {
  min-height: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  background-color: #232323;
  z-index: 1;
}
.travel-logs__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/background/left.png") no-repeat top 50px left, url("../img/background/right.png") no-repeat bottom 60px right;
  z-index: -1;
}
.travel-logs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.travel-logs__box {
  max-width: 445px;
}
.travel-logs__title {
  font-family: "Cardo";
  font-size: 55.5px;
  color: #e9e7e7;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-top: 55px;
}
.travel-logs__text {
  font-family: "Lato";
  font-size: 16.7px;
  color: #e9e7e7;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 35px;
}
.travel-logs__button {
  margin-top: 43px;
}
.travel-logs__button button {
  color: #e9e7e7;
  border: 3px solid #e9e7e7;
  padding: 15px 60px;
  margin-bottom: 50px;
}

.gallery {
  min-height: 800px;
  background-color: #e9e7e7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__bg {
  background: url("../img/background/left_3.png") no-repeat left center, url("../img/background/right_3.png") no-repeat right bottom;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.gallery__box {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.places {
  min-height: 1800px;
  background-color: #e9e7e7;
  position: relative;
}
.places__bg-img {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
}
.places__title-box {
  min-height: 780px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/background/left__4.png") bottom left no-repeat;
}
.places__title-box span {
  font-style: italic;
  text-decoration: underline;
}
.places__title-box img {
  margin-top: 220px;
}
.places__title {
  font-family: "Cardo";
  font-size: 97.7px;
  color: #232323;
  font-weight: 700;
  letter-spacing: -0.025em;
  max-width: 785px;
  margin: 60px auto;
}
.places__text {
  font-family: "Lato";
  font-size: 25px;
  color: #232323;
  font-weight: 900;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 65px;
}
.places__content {
  max-width: 1200px;
  margin: 200px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.places__content-block1 {
  padding: 0 50px 0 0;
  position: relative;
}
.places__content-block1 img:nth-child(1) {
  position: absolute;
  top: 260px;
  left: -36px;
  opacity: 0.9;
}
.places__content-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.places__photo img {
  width: 100%;
}
.places__content-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.places__content-title {
  font-family: "Cardo";
  font-size: 36.4px;
  color: #232323;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-decoration: underline;
  line-height: 50px;
  width: 70%;
  margin-right: 40px;
}
.places__content-text {
  font-family: "Lato";
  font-size: 16.7px;
  color: #232323;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  max-height: 200px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  scrollbar-color: black;
}
.places__content-text:hover {
  overflow-y: scroll;
}
.places__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.places__button span {
  font-size: 150px;
  content: "→";
}
.places__button button {
  background-color: rgba(0, 0, 0, 0);
}

.content-box {
  max-width: 365px;
  margin: 10px;
  z-index: 2;
}
.content-box__border {
  width: 53px;
  height: 3px;
  background-color: black;
  margin-top: 30px;
}
.content-box__photo img {
  width: 100%;
}
.content-box__title {
  font-family: "Cardo";
  font-size: 36.4px;
  color: #232323;
  font-weight: 700;
  letter-spacing: -0.025em;
  max-width: 235px;
  margin-top: 28px;
}
.content-box__text {
  font-family: "Lato";
  font-size: 16.7px;
  color: #232323;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 35px;
}

.choose {
  min-height: 872px;
  background: url("../img/background/block5.png") bottom -35px left no-repeat, #232323;
}
.choose__container {
  padding: 80px 0 160px 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choose__content-block1 {
  max-width: 450px;
}
.choose__title {
  font-family: "Cardo";
  font-size: 55.5px;
  color: #e9e7e7;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 110px;
}
.choose__text-name {
  font-family: "Lato";
  font-size: 25px;
  color: #e9e7e7;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 60px;
}
.choose__text {
  font-family: "Lato";
  font-size: 16.7;
  color: #e9e7e7;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 25px;
  height: 85px;
  width: 380px;
  overflow: hidden;
  text-align: justify;
}
.choose__text:hover {
  width: 396.53px;
  overflow-y: auto;
}
.choose__content-block2 {
  margin: auto 0;
}
.choose__content-block2 img {
  max-width: 100%;
}

@media (max-width: 1030px) {
  .places__content-block1 {
    display: none;
  }
  .places__content-block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .places__content-text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .places__arrow {
    bottom: -50px;
  }
  .places__content-title {
    margin: 0 auto;
    text-align: center;
  }
  .places__content-text {
    padding: 0 20px;
    max-height: 100%;
  }
  .places__photo img {
    padding: 20px;
  }
}
@media (max-width: 1150px) {
  .travel-logs__bg {
    opacity: 0.4;
  }
  .gallery__bg {
    opacity: 0.4;
  }
}
@media (max-width: 950px) {
  .header__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose {
    background: #232323;
  }
  .choose__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 0;
  }
  .choose__content-block1 {
    margin: 50px auto;
  }
  .choose__title {
    margin-top: 50px;
  }
  .choose__content-block2 {
    margin: 50px auto;
  }
  .choose__text {
    width: 100%;
    max-width: 380px;
  }
}
@media (max-width: 800px) {
  .places__title-box {
    background-position: top 50px left;
  }
}
@media (max-width: 710px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 420px) {
  .header__title {
    font-size: 50px;
  }
  .places__button span {
    font-size: 80px;
  }
  .gallery .content-box:nth-child(2) {
    display: none;
  }
  .content-box__text {
    font-size: 14px;
  }
  .content-box__title {
    font-size: 20px;
  }
  .choose__title {
    font-size: 45px;
  }
}